<div class="container mt-5 text-center">
<h2>Dettaglio User</h2>
</div>


<div class="container mt-3 text-center">
  <p>{{ user.id }}</p>
  <p>{{ user.name }}</p>
  <p>{{ user.surname }}</p>
</div>






