

<div class="container mt-5">
  <form [formGroup]="editFormUser" (ngSubmit)="edit()" class="needs-validation" novalidate="">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input formControlName="name" type="text" class="form-control" id="nome" placeholder="Inserisci il tuo nome..">

    </div>
    <div class="mb-3">
      <label for="cognome" class="form-label">Cognome</label>
      <input formControlName="surname" type="text" class="form-control" id="cognome" placeholder="Inserisci il tuo cognome..">
    </div>
    <div class="mb-3">
      <label for="eta" class="form-label">Età</label>
      <input formControlName="age" type="number" class="form-control" id="eta" placeholder="Inserisci la tua età..">
    </div>

    <button [disabled]="!editFormUser.valid" type="submit" class="btn btn-warning">Modifica</button>
  </form>
</div>



<div class="container mt-5">
  <a routerLink="/users">Torna indietro</a>
</div>

