
<div class="container m-3">
  <app-user-count></app-user-count>
  <button class="btn bg-warning mt-1" (click) = "refreshList()">Aggiorna dati</button>
  <button class="btn bg-danger mt-1 mx-1" (click) = "clearList()">Svuota dati</button>

</div>



<div class="container mt-5">
  <a routerLink="/userForm"> Aggiungi un nuovo user </a>
</div>


<div class="container mt-5">
  <table class="table table-striped text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of users"> <!--ciclo users array dichiarato nel suo ts-->

        <th scope="row"><a [routerLink]="['/userDetails', user.id]">{{ user.id }}</a></th>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.age }}</td>
        <td><a [routerLink]="['/editForm', user.id]"><button class="btn btn-warning right"> Modifica </button></a> </td>
        <td><a [routerLink]="['/delete', user.id]"><button class="btn btn-warning right"> Elimina </button></a> </td>

      </tr>

  </table>
</div>



<div class="container text-center mt-5">

  <img src="../../../../assets/images/Vector.png" alt="">
</div>
