
<div class="container mt-5 text-center">
  <h1>Questa Web app è stata realizzata con</h1>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <div class="container mt-5 text-center">
        <h2>Front-end</h2>
        <h3>Angular</h3>
      </div>


      <div class="container mt-5 text-center">
        <img class="mt-5" src="https://lh3.googleusercontent.com/kfc3ZNsJ-4bOwfwAIqXDsBL64bZVQeEfqoXTl59NMI8legyNElAym2SMXJ2ImT4B1HYtSCEO5sfqq8OLVF9htbPCpSwvFVSKbeN1BTx-yJQjHt2k5zk4qCmndSelwtNBAvbd9gpXOieCPY7rrw" alt="immagine angular" width="70%" height="70%">
      </div>
    </div>
    <div class="col-6">
      <div class="container mt-5 text-center">
        <h2>Back-end</h2>
        <h3>Spring</h3>
      </div>


      <div class="container mt-5 text-center">
        <img src="https://pbs.twimg.com/profile_images/1235868806079057921/fTL08u_H_400x400.png" alt="immagine angular" width="50%" height="50%">
      </div>
    </div>
  </div>

</div>


