


<div class="container mt-5">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name Product</th>
        <th scope="col">Price</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products"> <!--ciclo users array dichiarato nel suo ts-->

        <th scope="row">{{ product.id }}</th>
        <td>{{ product.nameProduct }}</td>
        <td>{{ product.price }}</td>


      </tr>

    </tbody>
  </table>
</div>





